<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotto List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Lotto List</h1>
    </header>

    {% include 'admin_nav.html' %}

    <main>
        <ul>
            {% for lotto in lottos %}
                <li>
                    <strong>{{ lotto.name }}</strong>
                    <p>{{ lotto.description }}</p>
                    <p>Price Per Ticket: ${{ lotto.pricePerTicket }}</p>
                </li>
                <td>
                    <form action="/remove_lotto" method="post">
                        <input type="hidden" name="lotto_id" value="{{ lotto.id }}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
                <td>
                    <form action="/add_winner/{{ lotto.id }}" method="post">
                        <button type="submit">Add Winner</button>
                    </form>
                </td>
                <br>
            {% endfor %}
        </ul>
    </main>

</body>
</html>